* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
}


/* chia các phần trong header yhanhf chều ngang */

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    position: fixed;
    /*làm ảo menu*/
    z-index: 1;
    width: 100%;
    background: rgb(255, 255, 255, 0.4);
}

header.sticky {
    background: rgb(255, 255, 255, 1);
}

header:hover {
    background: rgb(255, 255, 255, 1);
}

.logo {
    flex: 1;
    /* flex phân chia header ra các đoạn mình muốn*/
}

.menu {
    flex: 3;
    /* flex phân chia header ra các đoạn mình muốn*/
    display: flex;
    /* các <li> xếp theo chều ngàng*/
}

.other {
    display: flex;
    flex: 1;
    position: relative;
    /* flex phân chia header ra các đoạn mình muốn*/
}

li {
    list-style: none;
    /* bỏ dấu chấm của thẻ li */
}

a {
    text-decoration: none;
    color: #000;
}

.menu>li {
    padding: 0 20px;
    position: relative;
}

.submenu {
    position: absolute;
    width: 200px;
    padding: 8px 0 0 0;
    visibility: hidden;
    /* ẩn danh sách menu submenu đi*/
    top: 50px;
    transition: 0.3s;
    z-index: 1;
    /* hiển thị <li> trên ảnh*/
    background: #fff;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(133, 54, 54);
}

.home {
    position: absolute;
    width: 200px;
    height: 215px;
    padding: 8px 5px 10px 5px;
    line-height: 50px;
    visibility: hidden;
    /* ẩn danh sách menu submenu đi*/
    top: 50px;
    right: -50px;
    transition: 0.3s;
    z-index: 1;
    /* hiển thị <li> trên ảnh*/
    background: #fff;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(133, 54, 54);
}

.other li:hover .home {
    visibility: visible;
    top: 50px;
}

.other li ul a {
    padding: 5px 0px 2px 0;
    font-size: 20px;
}


/* hiểm thị submenu bị ẩn */

.menu li:hover .submenu {
    visibility: visible;
    top: 60px;
}

li ul li:hover {
    width: 200px;
    border-bottom: 1px solid #333;
}

ul li ul {
    visibility: hidden;
    position: absolute;
    width: 200px;
    border-bottom: 1px solid black;
    top: 100px
}

ul li:hover ul {
    visibility: visible;
    left: 100%;
    transition: 0.2s;
    top: 40px;
    background-color: rgb(202, 204, 206);
    width: 200px;
    padding: 5px 0 0 0;
    box-shadow: 5px 5px 5px #333;
}

.submenu ul {
    padding-left: 1px;
}

.home ul a {
    font-size: 15px;
    font-weight: normal;
}

.submenu ul a {
    font-size: 15px;
    font-weight: normal;
}

.menu li a {
    font-size: 18px;
    font-weight: bold;
    display: block;
    line-height: 30px;
}

.other>li {
    padding: 0 15px;
    position: relative;
}


/* thanh dọc cho phần trên phải*/

.other li:last-child::after {
    display: none;
}

.other li::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}


/* lấy thẻ other>li đầu tiên làm vị trí cố định để theo */

.other>li:first-child {
    position: relative;
}


/* đi đến cái input đầu tiên của other>li */

.other>li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(14, 13, 13);
    font-size: 20px;
    font-weight: bold;
    /* tạo viền dưới của search */
    /* đồng bộ thanh tim kiếm với tông mầu  */
    background: transparent;
    color: #000;
    outline: none;
    top: 50px;
}


/* điều chỉnh icon search vào trong tìm kiếm*/

.other>li:first-child i {
    position: absolute;
    right: 15px;
}

#slide {
    /* gạch chân các chấm*/
    padding: 0 40px 40px 40px;
    border-bottom: 1px solid #333;
    overflow: hidden;
}


/* ảnh background cố đinh*/

.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 10%;
    transition: 0.5s;
    height: 850px;
}

.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/* các chấm dưới ảnh */

.dot-contener {
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 10px 15px;
}

.dot.activer {
    background-color: #333;
}


/*-----------------app chưa xử lý đc css k tác dụng-----------------------*/

.app-container {
    text-align: center;
    align-items: center;
    padding: 50px;
    position: relative;
}

.google {
    margin: 20px;
}

.google img {
    height: 70px;
}

.app-container p {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.app-container input {
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
    /* bỏ boder khung*/
    font-size: 20px;
}


/*-------------------------mới----------------*/

footer {
    text-align: center;
    position: relative;
}

.footer-top {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}

.footer-top img {
    height: 50px;
}

.footer-top li {
    padding: 0 10px;
    position: relative;
}


/* phân khúc gạch cho từng mục */


/*  :after gạch vào sau mỗi thẻ li */

.footer-top li:after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}


/* :last-child:after thẻ li cuối k có gạch */

.footer-top li:last-child:after {
    display: none;
}

.footer-top li:last-child a {
    margin-right: 12px;
    color: #333;
}

.footer-bottom {
    text-align: center;
    font-size: 20px;
    padding: 2px 5px;
    margin: 5px;
    font-weight: bold;
    color: #333;
}

#laptop {
    position: relative;
    padding: 100px 40px 40px 40px;
}

.total {
    /* gạch chân các chấm*/
    font-size: 35px;
    font-weight: bold;
    padding: 10px 20px 10px 10px;
    border-bottom: 0.05px solid rgb(88, 87, 87);
    overflow: hidden;
}


/* ảnh background cố đinh*/

.trai {
    display: block;
    position: relative;
    padding-top: 10%;
    transition: 0.5s;
    padding: 10px 0 0 20px;
}

#laptop .trai p {
    font-size: 20px;
    font-weight: bold;
}

.phai-tren {
    left: 300px;
    position: absolute;
    top: 125px;
    padding: 0 10px;
    background: #fff;
    border: solid #333 1px;
    width: 850px;
    box-shadow: 1px 1px 1px rgb(88, 87, 87);
}

.nhanhieu {
    padding: 15px 50px 10px 50px;
    word-spacing: 30px;
}

.phai-duoi {
    left: 300px;
    position: absolute;
    top: 300px;
    padding: 0 10px;
    background-color: #fff;
    border: solid #333 1px;
    width: 850px;
    box-shadow: 1px 1px 1px rgb(88, 87, 87);
}

.nhucau {
    /* gạch chân các chấm*/
    font-size: 35px;
    font-weight: bold;
    padding: 10px 20px 20px 10px;
    border-bottom: 0.05px solid rgb(88, 87, 87);
    overflow: hidden;
}

.loaimay {
    padding: 15px 20px 10px 20px;
    word-spacing: 28px;
    text-align: center;
    position: relative;
}

.loaimay span {
    padding: 30px 30px 30px 45px;
    word-spacing: 2px;
    font-size: 17px;
    font-weight: bold;
}

.loaimay span:hover {
    color: red;
}

.danhmuc {
    left: 280px;
    position: absolute;
    top: 600px;
    display: flex;
    padding: 0 10px;
}

.danhmuc1 {
    left: 280px;
    position: absolute;
    top: 850px;
    display: flex;
    padding: 0 10px;
}

.danhmuc2 {
    margin-left: 240px;
    margin-top: 150px;
    display: flex;
    padding: 0 10px;
}

.danhmuc3 {
    margin-left: 240px;
    margin-top: 80px;
    display: flex;
    padding: 0 10px;
}

.sp {
    text-align: center;
    padding: 10px 15px 0px 15px;
}

.sp h1 {
    font-size: 15px;
    margin-top: 6px;
}